@tailwind base;
@tailwind components;
@tailwind utilities;

.animate {
  transition: 0.3s ease;
  border: 3px solid transparent;
}

.animate:hover {
  box-shadow: 0px 2px 2px 2px #373334;
  border: 1px solid #F2506D;
  transform: translateY(-9px);
  cursor: pointer;
}
.logo:hover {
  border-bottom: 1px solid #F2506D;
  color: #970b24;
}
.img:hover {
  border: 2px solid #F2506D;
}
.btn {
  transition: 0.3s ease;
}
.btn:hover {
  transform: scale(1.09);
  box-shadow: 0px 1px 2px 3px #F2506D;
  border: 2px solid white;
}

.animate1 {
  animation: name2 2s forwards linear;
  filter: blur(10px);
  transform: translateX(-50px);
}
@keyframes name2 {
  to {
    transform: translateX(0px);
    filter: blur(0);
  }
}
.animate2 {
  animation: name2 2s forwards linear;
  filter: blur(10px);
  transform: translateX(50px);
}
@keyframes name2 {
  to {
    transform: translateX(0px);
    filter: blur(0);
  }
}
@media (max-width: 500px) {
  .nav1 {
    display: block;
    transition:all 0.4s ease;
  }
  .nav2 {
    display: none;
  }
  #menu-icon {
    display: block;
  }
}
